
body, html {
  height: 100%;
}

body {
	font-family:  Raleway, Arial;
    background-image: url('kontinenti.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	  color: white;
	  height: 100%;
}


.title_name {
	font-size: 30px;
	color: blue;


}

img {
	max-width: 100%;
	height: auto;
}


.pasos {
	width: 50%;
	margin: auto;
	padding: 10px;
	background: black;
	letter-spacing: 4px;
	word-spacing: 6px;.
	

}



